<div class="counter-wrapper">
  <button
      class="btn"
      [disabled]='disableButtonMinus'
      [ngClass] = "{'disabled':disableButtonMinus}"
      (click) = "decreaseCounter()">
     -
  </button>
  <div class="result"><p>{{countResult}}</p></div>
  <button
      class="btn"
      [disabled]='disableButtonPlus'
      (click) = "increaseCounter()">
    +
  </button>
  <button
      class="btn"
      (click) = "resetCounter()">
    Reset
  </button>
</div>
<app-control-1></app-control-1>
<app-control-2></app-control-2>

