@import '../scss/utils';

.counter-wrapper {

  margin: 0 auto 0;
  text-align: center;

  button , div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  div {
    width: 100px;
    height: 35px;
    border: 1px solid sienna;
  }

}